<ion-view class="air-main">
	<ion-nav-title class="bold">비행기 여행</ion-nav-title>
	<ion-content scroll="false">
		<div class="row row-center">
			<div class="col text-align-c">
				<button class="button button-icon left">
					<div><i class="ion-paper-airplane color-basic"></i></div>
					<h4 class="">여행계획</h4>
				</button>
			</div>
			<div class="col text-align-c">
				<button class="button button-icon right">
					<div><i class="ion-android-pin color-basic"></i></div>
					<h4 class="">여행후기</h4>
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>
