.bold {
	font-weight: bold;
}

.text-align-c {
	text-align:center;
}

.color-basic {
	color:#49ACFF;
}

.background-color-basic {
	background-color: #49ACFF !important;	
}

.air-main ion-content {
	background: url(../img/first-background-img.png) no-repeat center center fixed;
	background: cover;
}

.air-main .row {
	height:100%;
} 

.air-main button div {
	width:80px;
	height:80px;
	position: relative;
	border-radius: 100%;
	border: 1px solid #fff;
	/*background-color: rgba(255,255,255,0.7);*/
}

.air-main button.left {
	margin-left: 30px;
}

.air-main button.right {
	margin-right: 30px;
}

.air-main button i.ion-paper-airplane {
	color: #fff;
	position: absolute;
	top: 22px;
	left: 25px;
	font-size: 30px;
	display: block;
}

.air-main button i.ion-android-pin {
	color: #fff;
	position: absolute;
	top: 21px;
	left: 30px;
	font-size: 30px;
	display: block;
}

.air-main button h4 {
	color: #fff;
}